<div class="col-sm-6 col-md-12">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header shadow p-3 mb-5 bg-white rounded">
            <div class="p-3 mb-2 bg-primary text-white rounded">
                <div class="font-weight-bold text-center">SEE YOUR POSTS BELOW</div>
            </div>
            
            <% @posts.reverse.each do |post| %>
                <% if current_user.posts.include?(post) %>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="font-weight-bold"><%=post.title %></div>
                    <div class="font-italic">Posted On: <%=post.created_at.strftime("%Y-%m-%d") %></div>
                        <p><%=post.text %></p>
                        <div class="form-horizontal"> 
                            <form action="/feed/<%=post.id%>/delete" method="POST">
                                <a class="btn btn-success btn-sm" href="/feed/<%=post.id%>/edit">Edit</a>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form> 
                        </div>                  
                </div>
                <% end %> 
            <% end %>
        </div>
    </div>
</div>
  

 
